body{
    background-color: #001;
    padding: 50px 50px 100px 50px;
}

.table {
   color: white;  
}

#btn-json{
    margin: 10px;
}

@media (max-width: 600px){
    body {
        padding: 5px 5px 5px 5px;
        margin: auto;
        text-align: center;
    }
    .table {
        width: 90% !important;
        margin: 5;
        
    }
    a{
        margin: auto;
        text-align: center;
    }
}