<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="/js/valida.js"></script>

    <link rel="stylesheet" href="/css/createStyle.css">

    <title>Tela de cadastro</title>
</head>
<body>

    <!-- Formulario de cadastro -->
    <form method="POST" action="/create" class="form">
        <!-- Nome -->
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" onchange="validaNome(this.value)">
            <p id="invalid-nome" class="invalid"></p>
        </div>
        <!-- CPF  -->
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">CPF</label>
            <input id="cpf" type="text" class="form-control" name="cpf" onchange="validaCpf(this.value)">
            <p id="invalid-cpf" class="invalid"></p>
        </div>
        <!-- Data de Nascimento  -->
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nascimento</label>
            <input type="date" class="form-control" name="dataNascimento">
        </div>
        <!-- Termos -->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="termosPoliticas">
            <label class="form-check-label" for="exampleCheck1">Concordo com os <a href="" onclick="abrirTermo()">termos de serviço e política de privacidade </a> da KSI Consultas</label>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn-painel" href="/painel"><button type="button" class="btn btn-danger">Cancelar</button></a>
    </form>
    <br/>
    
</body>
</html>